@import "tailwindcss";

@theme {
  --color-orange: #e76f1d;
  --color-navy: #2b355a;
  --color-cream: #f4efe6;
  --color-white: #ffffff;
  --color-tan: #e5dbca;
}

:root {
  color: #2b355a;
  background-color: #f4efe6;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f4efe6;
}
